<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomRefreshView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCAAB73C1E487C33007C3477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCAAB7501E487C33007C3477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCAAB75B1E487C33007C3477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
